{% extends 'default.html' %}

{% block title %}
Delete Post
{% endblock title %}

{% block content %}
<br>
<h3>Delete this post?</h3>
<div class="card">
    <div class="card-header">
        <h3>
            {{ post.title }}
        </h3>
        <div>
            Автор: {{ post.user }}
        </div>
    </div>
    <div class="card-body">
        {{ post.text|truncatechars:20|safe }}
    </div>
</div>
<br>
<div class="container">
    <form method="POST">
        {% csrf_token %}
        <input class="btn btn-info btn-gradient" type="submit" value="Delete">
    </form>
</div>
<br>
<br>
{% endblock content %}