{% extends 'default.html' %}
{% load bootstrap4 %}

{% block title %}
Adverts
{% endblock title %}

{% block content %}
<h1>Adverts</h1>

<hr> <br>
{% if user.is_authenticated %}
<div class="container ml-3">
<a href="add">
    <button class="btn btn-info btn-gradient">New Advert</button>
</a>
</div>
{% endif %}
<br>
{% if post_list %}
<div class="grid-posts mb-10">
    <div class="container">
        <div class="row">
            {% for post in post_list %}
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <p class="badge bg-info">{{ post.get_category_display }}</p> ||
                            {{ post.title }}
                            <p class="text-end">{{ post.user }} || {{ post.dateCreation|date:'d m y' }}</p>
                        </div>
                        <div class="card-body">
                            <div class="container">
                                {{ post.text|truncatechars:50|safe }}
                                {% if user.is_authenticated %}
                                <p class="text-end"><a href="{{ post.id }}">Open</a></p>
                                {% else %}
                                <p class="text-end text-muted">Login for watch detail...</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% else %}
    <h3>Статей нет</h3>
{% endif %}

{% include 'parts/paginator.html' %}

<br> <br>
{% endblock content %}